@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */


.custom-img {
  height: 100%;
  background-image: url("../public/background.jpeg");
}
.testing {
  background-image: url('https://ld-wt73.template-help.com/wt_prod-20176/images/home-01-320x320.jpg');
}
.mri {
  background-image: url('https://ld-wt73.template-help.com/wt_prod-20176/images/home-02-320x320.jpg');
}
.equipment {
  background-image: url('https://ld-wt73.template-help.com/wt_prod-20176/images/home-06-320x320.jpg');
}
.pregnancy {
  background-image: url('https://ld-wt73.template-help.com/wt_prod-20176/images/home-05-320x320.jpg');
}
.ray{
  background-image: url('https://ld-wt73.template-help.com/wt_prod-20176/images/home-03-320x320.jpg');
}
.pedia {
  background-image: url('https://ld-wt73.template-help.com/wt_prod-20176/images/background-04-1920x980.jpg');
}
